[Unit]
Description=Sync SimpRead Config for %i
Documentation=https://github.com/j1g5awi/simpread-sync
After=network-online.target
Wants=network-online.target

[Service]
# Commented out hardenings are disabled because they don't work out of the box.
# If you know what you are doing please try to enable them.
ProtectSystem=full
#PrivateDevices=true
ProtectHostname=true
#ProtectClock=true
ProtectKernelTunables=true
#ProtectKernelModules=true
#ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true
ExecStart=/usr/bin/simpread-sync /home/%i/Documents/OneDrive/simpread_config.json
User=%i
Group=users
Restart=on-failure
RestartSec=3
RestartPreventExitStatus=3

[Install]
WantedBy=multi-user.target
